<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New-aixinjuanxian</key>
	<string></string>
	<key>New-baojian</key>
	<string></string>
	<key>New-baoxiao</key>
	<string></string>
	<key>New-dapai</key>
	<string></string>
	<key>New-dianying</key>
	<string></string>
	<key>New-fangzu</key>
	<string></string>
	<key>New-haiwaidaigou</key>
	<string></string>
	<key>New-haizi</key>
	<string></string>
	<key>New-huochepiao</key>
	<string></string>
	<key>New-jupiao</key>
	<string></string>
	<key>New-kuzi</key>
	<string></string>
	<key>New-lifa</key>
	<string></string>
	<key>New-lvyoudujia</key>
	<string></string>
	<key>New-maicai</key>
	<string></string>
	<key>New-majiang</key>
	<string></string>
	<key>New-naifen</key>
	<string></string>
	<key>New-shipin</key>
	<string></string>
	<key>New-shuifei</key>
	<string></string>
	<key>New-sijiache</key>
	<string></string>
	<key>New-tuikuan</key>
	<string></string>
	<key>New-wanggou</key>
	<string></string>
	<key>New-weixiubaoyang</key>
	<string></string>
	<key>New-xiaochi</key>
	<string></string>
	<key>New-xiezi</key>
	<string></string>
	<key>New-xinyongkahuankuan</key>
	<string></string>
	<key>New-yan</key>
	<string></string>
	<key>New-yifu</key>
	<string></string>
	<key>New-yiwaiposun</key>
	<string></string>
	<key>New-youxi</key>
	<string></string>
	<key>New-yundongjianshen</key>
	<string></string>
	<key>New-zhifubao</key>
	<string></string>
	<key>New-zhuanzhang</key>
	<string></string>
	<key>New-zhusu</key>
	<string></string>
</dict>
</plist>
